---
- name: Test s3
  hosts: local
  connection: local

  tasks:
    - name: Create new bucket
      aws_s3:
        bucket: new-buck-will-be-deletedzzz
        mode: create
        region: us-east-1
